

<footer class="htc__foooter__area gray-bg">
    <div class="container">
        <div class="row">
            <div class="footer__container clearfix">
                <!-- Start Single Footer Widget -->
                <div class="col-md-3 col-lg-3 col-sm-6">
                    <div class="ft__widget">
                        <div class="ft__logo">
                            <a th:href="@{/}">
                                <h2 style="font-weight: 700;font-size: 25px;color: #666666;line-height: 30px;">서일<br>테크놀로지</h2>
                            </a>
                        </div>
                        <div class="footer-address">
                            <ul>
                                <li>
                                    <div class="address-icon">
                                        <i class="zmdi zmdi-pin"></i>
                                    </div>
                                    <div class="address-text">
                                        <p>인천광역시 동구 방축로83번길 23,</p><p style="padding-left: 40px"> 27동 110호(송림동)</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="address-icon">
                                        <i class="zmdi zmdi-email"></i>
                                    </div>
                                    <div class="address-text">
                                        <a href="#"> sit6789@gmail.com</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="address-icon">
                                        <i class="zmdi zmdi-phone-in-talk"></i>
                                    </div>
                                    <div class="address-text">
                                        <p>전화 : 032-589-7772 </p><p style="padding-left: 77px"> 032-422-2121 </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="address-icon">
                                        <i class="fas fa-fax"></i>
                                    </div>
                                    <div class="address-text">
                                        <p>fax : 032-589-7773</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Footer Widget -->
                <!-- Start Single Footer Widget -->
                <div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
                    <div class="ft__widget">
                        <h2 class="ft__title">메뉴</h2>
                        <ul class="footer-categories">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/shop}">상품소개</a></li>
                            <li><a th:href="@{/estimate}">견적문의</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Start Single Footer Widget -->
                <div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
                    <div class="ft__widget">
                        <h2 class="ft__title">회사 정보</h2>
                        <ul class="footer-categories">
                            <li><a th:href="@{/about}">회사 소개</a></li>
                            <li><a th:href="@{/contact}">위치 및 E-mail</a></li>
                        </ul>
                    </div>
                </div>
                <!-- Start Single Footer Widget -->
                <div class="col-md-3 col-lg-3 col-lg-offset-1 col-sm-6 smt-30 xmt-30">
                </div>
                <!-- End Single Footer Widget -->
            </div>
        </div>
        <!-- Start Copyright Area -->
        <div class="htc__copyright__area">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                    <div class="copyright__inner">
                        <div class="copyright">
                            <p>© 2021 SEOILTECHNOLOGY
                                All Right Reserved.</p>
                        </div>
                        <ul class="footer__menu">
                            <li><a th:href="@{/}">Home</a></li>
                            <li><a th:href="@{/product}">Product</a></li>
                            <li><a th:href="@{/contact}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copyright Area -->
    </div>
</footer>

<script type="text/javascript" src="/static/js/vendor/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/plugins.js"></script>
<script type="text/javascript" src="/static/js/slick.min.js"></script>
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/static/js/waypoints.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>