<div class="wrapper">
    <!-- Start Header Style -->
    <header id="header" class="htc-header header--3" style="background-color: #f6f6f6;">
        <!-- Start Mainmenu Area -->
        <div id="sticky-header-with-topbar" class="mainmenu__area sticky__header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-11 col-xs-11">
                        <div class="logo">
                            <div style="margin: auto;">
                                <a th:href="@{/}">
                                    <h2 style="font-weight: 700;color: #f76f6b;font-size: 25px;word-break: keep-all;">서일 테크놀로지</h2>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- Start MAinmenu Ares -->
                    <div class="col-md-9 col-lg-9 col-sm-1 col-xs-1">
                        <nav class="mainmenu__nav hidden-xs hidden-sm">
                            <ul class="main__menu">
                                <li class="drop"><a th:href="@{/}">Home</a></li>
                                <li class="drop"><a th:href="@{/shop}">상품 소개</a>
                                </li>
                                <li><a th:href="@{/estimate}">견적 문의</a></li>
                                <li class="drop"><a href="#">회사 소개</a>
                                    <ul class="dropdown">
                                        <li><a th:href="@{/about}">소개</a></li>
                                        <li><a th:href="@{/contact}">위치 및 E-mail</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="mobile-menu clearfix visible-xs visible-sm">
                            <nav>
                                <ul>
                                    <li><a th:href="@{/}">Home</a></li>
                                    <li><a th:href="@{/shop}">상품 소개</a></li>
                                    <li><a th:href="@{/estimate}">견적 문의</a></li>
                                    <li><a th:href="@{/about}">회사 소개</a></li>
                                    <li><a th:href="@{/contact}">위치 및 E-mail</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="mobile-menu-area"></div>
            </div>
        </div>
        <!-- End Mainmenu Area -->
    </header>
    <!-- End Header Style -->
</div>