<div th:insert="./common/link.html"></div>
<div th:insert="./common/header.html"></div>
  <!-- Start Bradcaump area -->
  <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/static/images/building.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap2">
      <div style="margin-right: auto; margin-left: auto;background-color: #f0ffffa8;padding: 20px;">
            <div class="text-center">
              <h2 class="title__line" style="color: #000000bf">서일 테크놀로지</h2>
              <h4 class="title__line" style="font-size: 20px;color: #000000bf">(SEOIL Technology  Co.,Ltd.)</h4>
              <p style="color: #000000bf;padding-top: 30px;word-break: keep-all;font-size: 19px;line-height: 30px;">
                저희 <span style="font-weight: bolder">서일 테크놀로지</span>는 초정밀 심플레이트, 라이너 및 스페이서를
                <br>
                설계 제작하고, 각종 초박판 코일과 산업용 장갑을 수입 판매하며, 기계부품,
                <br>
                포장용기계, 선박부품 및 화공약품을 수출하는 회사입니다.
                <br>
                관련 업계의 오랜 경험과 노하우로 고객 여러분들에게 보답하겠습니다.
                <br>
                많은 이용 바랍니다.
                <br>
                감사합니다.
              </p>
              <p style="color: #000000bf;padding-top: 30px;word-break: keep-all;font-size: 19px;line-height: 30px;">
                <span style="font-weight: bolder">SEOIL TECHNOLOGY</span> manufactures ultra-precision simplates,
                <br>
                liners and spacers, imports various ultra-thin coils
                <br>
                and industrial gloves.
                <br>
                We also export mechanical parts, packaging machines, ship parts,
                <br>
                and chemicals.
                <br>
                We will do our best to you with our long experience
                <br>
                and know-how in related industries.
                <br>
                Thank you.
              </p>
            </div>
            <div class="store__btn" >
              <a th:href="@{/contact}" style="background-color: whitesmoke">위치 및 E-mail</a>
            </div>
      </div>
    </div>
  </div>
  <!-- End Bradcaump area -->

<div th:insert="./common/footer.html"></div>