<div th:insert="./common/header.html"></div>
<div class="wrapper fixed__footer">
  <div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url(/static/images/bg/5.jpg) no-repeat scroll center center / cover ;">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <ul class="login__register__menu" role="tablist">
            <li role="presentation" class="login active"><a href="#" role="tab" data-toggle="tab">Login</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="htc__login__register__wrap">
            <div id="login" role="tabpanel" class="single__tabs__panel tab-pane fade in active">
              <form class="login" action="/login" method="POST">
                <input id="username" type="text" name="username" required="required" placeholder="ID*">
                <input id="password" type="password" name="password" required="required" placeholder="Password*">
                <div class="htc__login__btn mt--30">
                  <button type="submit">Login</button>
                </div>
              </form>
              <div style="margin-top: 10px;">
                <a th:href="@{/}">-> Go Back Main Page</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/js/vendor/jquery-1.12.0.min.js"></script>
</body>
</html>