<div th:insert="./common/link.html"></div>
<div th:insert="./common/header.html"></div>
<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/static/images/bg/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">상품 소개</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Home</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Shop Page</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Our Product Area -->
<section class="bg__white">
    <div class="container">
        <div class="">
            <!-- Start Product MEnu -->
            <div class="row">
                <div class="col-md-12">
                    <div class="filter__menu__container">
                        <div class="product__menu">
                            <button onclick="showPro(null)" class="is-checked">전체</button>
                            <button onclick="showPro('col--1')">제조</button>
                            <button onclick="showPro('col--2')">판매</button>
                            <button onclick="showPro('col--3')">산업용 장갑</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Product MEnu -->
            <div class="row" style="margin-top: 30px;margin-bottom: 30px;">
                    <!-- Start Single Product -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 col--1" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/coilsim/sim1.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2>와셔</h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--1" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/coilsim/sim2.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>얼라인먼트 심</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--1" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/coilsim/sim3.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>벗기는 심</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--1" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/coilsim/spacer.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>정밀 스페이서</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--2" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/coilsim/coil1.jpg"  alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>초박판 코일</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--2" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/coilsim/coil2.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>초박판 코일</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--3" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/glove/glove6.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>라텍스 장갑</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--3" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/glove/glove4.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>라텍스 장갑-300mm</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--3" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/glove/glove10.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>니트릴 장갑</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--3" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/glove/glove5.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>니트릴 장갑-300mm</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--3" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/glove/glove2.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>네오프랜장갑(2칼라)</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--3" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/glove/glove3.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>우레탄 장갑</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 col--3" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/glove/glove7.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>내산 장갑</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--3" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/glove/glove8.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>산업용 장갑</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
                    <!-- Start Single Product -->
                    <div class="col-md-3  col-lg-3 col-sm-4 col-xs-12 col--3" style="display: none">
                        <div class="product_div">
                            <div class="">
                                <div class="">
                                    <img width="270px" height="180px"  src="/static/images/glove/glove1.jpg" alt="product images">
                                </div>
                            </div>
                            <div class="product__details">
                                <h2><a>가정용 장갑</a></h2>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Product -->
            </div>
        </div>
    </div>
</section>

<div th:insert="./common/footer.html"></div>

<script>

    showPro();

    $('.product__menu button').on('click', function(event) {
        $(this).siblings('.is-checked').removeClass('is-checked');
        $(this).addClass('is-checked');
        event.preventDefault();
    });

    function showPro(what){
        console.log(what);
        $(".col--1").hide();
        $(".col--2").hide();
        $(".col--3").hide();
        if(what){
            $("." + what).show();
        }else{
            $(".col--1").show();
            $(".col--2").show();
            $(".col--3").show();
        }
    }

</script>